{% extends "base.html" %}

<!-- shows the content on the page -->
{% block content %}
<div class="column is-4 is-offset-4">
    <!-- page title -->
    <h3 class="title">Login</h3>
        <div class="box">
            <!-- gets error messages -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <!--error message shows if there is one-->
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %} <!-- end of if statement -->
            {% endwith %}
            <!-- login form -->
            <form method="POST" action="/login">
                <!-- email input field -->
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                    </div>
                </div>

                <!-- password input field -->
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Your Password">
                    </div>
                </div>

                <div class="field">
                    <label class="checkbox">
                        <!-- remember me checkbox -->
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
                <!-- login button -->
                <button class="button is-block is-info is-large is-fullwidth">Login</button>
            </form>
        </div>
    </div>
    {% endblock %}

